<div>
   <br />
  <a [routerLink]="['/']" class="btn grey">Back</a>
  <h1>Add Meetup</h1>
  <form onSubmit={this.onSubmit.bind(this)}>
     <div class="input-field">
       <input type="text" name="name" ref="name" />
       <label htmlFor="name">Name</label>
     </div>
     <div class="input-field">
       <input type="text" name="city" ref="city" />
       <label htmlFor="city">City</label>
     </div>
     <div class="input-field">
       <input type="text" name="address" ref="address" />
       <label htmlFor="address">Address</label>
     </div>
     <input type="submit" value="Save" class="btn" />
   </form>
 </div>
